<% content_for :title, t("cookies.title") %>
<% content_for :meta_tags do %>
  <meta name="description" content="<%= t("cookies.title") %>" />
<% end %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", { href: @previous_page } %>
<% end %>

<main class="cookies-content">
  <div class="cookie-settings__confirmation" data-cookie-confirmation="true">
    <%= render "govuk_publishing_components/components/notice", {
      title: t("cookies.title"),
      aria_live: true,
    } do %>
      <p><%= "Your cookie settings were saved" %></p>
      <a class="govuk-link cookie-settings__prev-page" href="<%= @previous_page %>">
        <%= "Go back to the page you were looking at" %>
      </a>
    <% end %>
  </div>

  <%= render "govuk_publishing_components/components/title", {
    title: t("cookies.title"),
    margin_top: 0,
  } %>

  <%= tag.p t("cookies.settings_page.intro_html"), class: "govuk-body" %>

  <div class="cookie-settings__no-js">
    <%= render "govuk_publishing_components/components/govspeak", {
      } do %>
      <p>We use Javascript to set most of our cookies. Unfortunately Javascript is not running on your browser, so you cannot change your settings. You can try:</p>
      <ul>
        <li>reloading the page</li>
        <li>turning on Javascript in your browser</li>
      </ul>
    <% end %>
  </div>

  <% t("cookies.settings_page.tables").map do |table| %>
    <div class="cookie-settings__table-wrapper">
      <%= render "govuk_publishing_components/components/heading", {
        text: sanitize(table.dig(:header)),
        margin_bottom: 3,
      } %>
      <p class="govuk-body"><%= sanitize(table.dig(:text_html)) %></p>
      <%= render "govuk_publishing_components/components/table", {
        head: [
          { text: "Name" },
          { text: "Purpose" },
          { text: "Expires" },
        ],
        rows: table.dig(:cookies),
      } %>
    </div>
  <% end %>

  <div class="cookie-settings__form-wrapper">
    <form data-module="cookie-settings">
      <%= render "govuk_publishing_components/components/radio", {
        name: t("cookies.settings_page.cookie_options.name"),
        inline: false,
        heading: t("cookies.settings_page.cookie_options.header"),
        # hint: (cookies_usage_hint),
        items: t("cookies.settings_page.cookie_options").fetch(:options, []),
        margin_top: 0,
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Save changes"
      } %>
    </form>
  </div>
</main>
