<% content_for :title do %>
  <%= t("coronavirus_form.questions.support_address.title") %>
<% end %>

<% content_for :meta_tags do %>
  <meta name="description" content="<%= t('coronavirus_form.questions.support_address.title') %>" />
<% end %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", { href: previous_path } %>
<% end %>

<%= render "govuk_publishing_components/components/title", {
  title: t("coronavirus_form.questions.support_address.title"),
  margin_top: 0
} %>

<%= render "govuk_publishing_components/components/hint", {
  text: t("coronavirus_form.questions.support_address.hint"),
} %>

<%= form_tag({},
  "data-module": "track-coronavirus-form-vulernable-people-support-address",
  "data-question-key": "support_address",
  "id": "support_address",
  "novalidate": "true"
) do %>
<%= render "govuk_publishing_components/components/input", {
  label: {
    text: t('coronavirus_form.questions.support_address.building_and_street.label')
  },
  id: "building_and_street_line_1",
  name: "building_and_street_line_1",
  type: "text",
  error_message: error_items('building_and_street_line_1'),
  value: session[:support_address]["building_and_street_line_1"],
  autocomplete: "address-line1",
} %>

<label class="govuk-visually-hidden" for="building_and_street_line_2">
  <%= t('coronavirus_form.questions.support_address.building_and_street_line_2.label') %>
</label>
<%= render "govuk_publishing_components/components/input", {
  id: "building_and_street_line_2",
  name: "building_and_street_line_2",
  error_message: error_items('building_and_street_line_2'),
  value: session[:support_address]["building_and_street_line_2"],
  autocomplete: "address-line2",
} %>

<%= render "govuk_publishing_components/components/input", {
  label: {
    text: t('coronavirus_form.questions.support_address.town_city.label')
  },
  id: "town_city",
  name: "town_city",
  type: "text",
  error_message: error_items('town_city'),
  value: session[:support_address]["town_city"],
  width: 20,
  autocomplete: "address-level2",
} %>

<%= render "govuk_publishing_components/components/input", {
  label: {
    text: t('coronavirus_form.questions.support_address.county.label')
  },
  id: "county",
  name: "county",
  type: "text",
  error_message: error_items('county'),
  value: session[:support_address]["county"],
  width: 20,
} %>

<%= render "govuk_publishing_components/components/input", {
  label: {
    text: t('coronavirus_form.questions.support_address.postcode.label')
  },
  id: "postcode",
  name: "postcode",
  type: "text",
  error_message: error_items('postcode'),
  value: session[:support_address]["postcode"],
  width: 10,
  autocomplete: "postal-code",
} %>

<%= render "govuk_publishing_components/components/button", text: "Save and continue", margin_bottom: true %>
<% end %>
