<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8" />
    <title><%= yield :title %> - GOV.UK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= javascript_include_tag "govuk_publishing_components/vendor/modernizr" %>
    <%= yield :meta_tags %>
  </head>
  <body class="govuk-template__body">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <%= render "govuk_publishing_components/components/layout_header", { environment: "public" } %>
    <div class="govuk-width-container">
      <%= render "breadcrumbs" %>
      <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
