<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - GOV.UK</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :meta_tags %>
</head>

<body class="full-width govuk-width-container">
  <%= render "header" %>

  <div class="wrapper govuk-width-container" id="wrapper" lang="en">
    <%= render "breadcrumbs" %>

    <main id="content" role="main" class="content">
      <%= yield %>
    </main>
  </div>
</body>
</html>
