<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8" />
    <title><%= yield :title %> - GOV.UK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://www.gov.uk/favicon.ico" type="image/x-icon" />
    <meta name="robots" content="noindex nofollow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= yield :meta_tags %>
  </head>
  <body class="govuk-template__body">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <%= render "govuk_publishing_components/components/skip_link" %>
    <%= render "govuk_publishing_components/components/layout_header", { environment: "public" } %>
    <div class="govuk-width-container">
      <%= render "govuk_publishing_components/components/phase_banner", {
        phase: "alpha",
        message: sanitize("This part of GOV.UK is being built – #{link_to('find out what alpha means', 'https://www.gov.uk/service-manual/agile-delivery/how-the-alpha-phase-works', class: "govuk-link", target: "_blank")}")
      } %>
      <% if yield(:back_link).present? %>
        <%= yield(:back_link) %>
      <% else %>
        <%= render "breadcrumbs" %>
      <% end %>
      <main class="govuk-main-wrapper<%= " govuk-main-wrapper--l" if yield(:back_link).blank?%>" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= render "error_summary" %>
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
    <%= render "govuk_publishing_components/components/layout_footer" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
